<span class="container">
	<h1 class="text-center display-5 fw-medium">ALL SONGS</h1>
</span>
<span (click)="back()" class="bi bi-arrow-right-circle-fill close"></span>
<section class="w-100 d-flex align-items-center justify-content-evenly flex-wrap gap-5 m-3 ">
	
	<div routerLink="/song/0" class="card active">
		<div class="image">
		  <img src="/assets/img/chilachila.jpg" alt="" />
		</div>
	</div>


<div class="card" routerLink="/song/1">
  <div class="image">
	<img src="/assets/img/theethalapathy.jpg" alt="" />
  </div>
  
</div>
<div class="card" routerLink="/song/2">
  <div class="image">
	<img src="/assets/img/vaavathi.jpg" alt="" />
  </div>
 
</div>
<div class="card" routerLink="/song/3">
  <div class="image">
	<img src="/assets/img/porkondasingam.jpg" alt="" />
  </div>

</div>
<div class="card" routerLink="/song/4">
	<div class="image">
	  <img src="/assets/img/dada.jpg" alt="" />
	</div>

  </div>
  <div class="card"  routerLink="/song/5">
	<div class="image">
	  <img src="/assets/img/ennaivitu.jpg" alt="" />
	</div>
  
  </div>
  <div class="card" routerLink="/song/6">
	<div class="image">
	  <img src="/assets/img/vaathicoming.jpg" alt="" />
	</div>
	
  </div>
  <div class="card" routerLink="/song/7">
	<div class="image">
	  <img src="/assets/img/ranjithame.jpg" alt="" />
	</div>
   
  </div>
  <div class="card" routerLink="/song/8">
	<div class="image">
	  <img src="/assets/img/baby.jpg" alt="" />
	</div>

  </div>
  <div class="card" routerLink="/song/9">
	  <div class="image">
		<img src="/assets/img/darshana.jpg" alt="" />
	  </div>

	</div>
	<div class="card" routerLink="/song/10">
	  <div class="image">
		<img src="/assets/img/mehabooba.jpg" alt="" />
	  </div>

	</div>
	<div class="card"  routerLink="/song/3">
		<div class="image">
		  <img src="/assets/img/porkondasingam.jpg" alt="" />
		</div>
	  
	  </div>
	  <div class="card" routerLink="/song/0">
		<div class="image">
		  <img src="/assets/img/chilachila.jpg" alt="" />
		</div>
		
	  </div>
	  <div class="card" routerLink="/song/6">
		<div class="image">
		  <img src="/assets/img/vaathicoming.jpg" alt="" />
		</div>
	   
	  </div>
	  <div class="card" routerLink="/song/5">
		<div class="image">
		  <img src="/assets/img/ennaivitu.jpg" alt="" />
		</div>
  
	  </div>
	  <div class="card" routerLink="/song/7">
		  <div class="image">
			<img src="/assets/img/ranjithame.jpg" alt="" />
		  </div>
	
		</div>
	  
		<div class="card " routerLink="/song/9">
			<div class="image">
			  <img src="/assets/img/darshana.jpg" alt="" />
			</div>
		  
		  </div>
		  <div class="card" routerLink="/song/11">
			<div class="image">
			  <img src="/assets/img/malare.jpg" alt="" />
			</div>
			
		  </div>
		  <div class="card" routerLink="/song/12">
			<div class="image">
			  <img src="/assets/img/kudukku.jpg" alt="" />
			</div>
		   
		  </div>
		  <div class="card" routerLink="/song/13">
			<div class="image">
			  <img src="/assets/img/vaathilmelle.jpg" alt="" />
			</div>
	  
		  </div>
		  <div class="card" routerLink="/song/14">
			  <div class="image">
				<img src="/assets/img/dooreyo.jpg" alt="" />
			  </div>
		
			</div>
		  
			<div class="card"  routerLink="/song/15">
				<div class="image">
				  <img src="/assets/img/needapadadhani.jpg" alt="" />
				</div>
			  
			  </div>
			  <div class="card" routerLink="/song/16">
				<div class="image">
				  <img src="/assets/img/samajavaragamana.jpg" alt="" />
				</div>
				
			  </div>
			  <div class="card" routerLink="/song/17">
				<div class="image">
				  <img src="/assets/img/ooantavaooooantava.jpg" alt="" />
				</div>
			   
			  </div>
			  <div class="card" routerLink="/song/18">
				<div class="image">
				  <img src="/assets/img/pilapadesaave.jpg" alt="" />
				</div>
		  
			  </div>
			  <div class="card" routerLink="/song/19">
				  <div class="image">
					<img src="/assets/img/ohsitaheyrama.jpg" alt="" />
				  </div>
			
				</div>
			  
				<div class="card"  routerLink="/song/20">
					<div class="image">
					  <img src="/assets/img/onmyway.jpg" alt="" />
					</div>
				  
				  </div>
				  <div class="card" routerLink="/song/21">
					<div class="image">
					  <img src="/assets/img/thunder.jpg" alt="" />
					</div>
					
				  </div>
				  <div class="card" routerLink="/song/22">
					<div class="image">
					  <img src="/assets/img/shapeofyou.jpg" alt="" />
					</div>
				   
				  </div>
				  <div class="card" routerLink="/song/23">
					<div class="image">
					  <img src="/assets/img/heatwaves.jpg" alt="" />
					</div>
			  
				  </div>
				  <div class="card" routerLink="/song/24">
					  <div class="image">
						<img src="/assets/img/friends.jpg" alt="" />
					  </div>
				
					</div>
				  
			   
			  
</section>