.start{
	background-color: #BB86FC;
	color: #212121;
	font-weight: 500;
	font-size: 1.5rem;
	
}
.preview{
	filter: brightness(70%);
	transition: 0.3s ease;
}
.preview:hover{
	filter: brightness(100%);
	transition: 0.3s ease;
}	
.con{
	width: 600px;
}

.h1{
	color: #BB86FC;
	font-weight: 900;
	
}
 

.mobileview{
	display: none;
}

.bi-list{
  font-size: 2.5rem;
  color: #bb86fc;
  
}

.offcanvas{
  background-color: #bb86fc;
}

.offcanvas p{
  color: #212121;
}

  @media (min-width:0px) and (max-width:800px) {

	.mobileview{
		display: block;
		position: absolute;
		top: 5px;
		right: 10px;
	  }
	  
	  .close{
		display: none;
	  }

	  .all h1{
		color: #BB86FC;
	  }

	  .brand-name{
		color: #212121 !important;
	  }
  }