<span (click)="back()" class="bi bi-arrow-right-circle-fill close"></span>
<span class="container">
	<h1 class="text-center display-5 fw-medium">About</h1>
</span>

<div class="d-flex align-items-center justify-content-center flex-wrap gap-2 p-4">
	<img width="500px" height="300px" class="img-fluid preview" src="/assets/img/eesai_preview.png" alt="">
    <span class="container con">
		<h1 class="h1">Eesai </h1>
		<p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum at, recusandae voluptatem temporibus rem debitis perferendis. Sint nam harum et!</p>
		<a routerLink="/song/0" class="btn start">Start Listening</a>
	</span>
</div>
