/* Import Google font - Poppins */

  
.greet{
  padding: 2%;
}
.greet p{
  color: #b0b0b0;
}
.greet h1{ 
  color: #c79aff;

 }
.carousel-item img{
 width: 100%;
 height: 300px; 
 filter: brightness(70%);
 object-fit: cover;
}
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  display: none;
  }
  ::-webkit-scrollbar-track {
  
  border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb {
  background-color: #bb86fc;
  border-radius: 25px;
  }

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e3f2fd;
}

.m{
  font-family: 'Signika Negative', sans-serif;
  font-size: 3rem;
}
.box {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
 margin: 10px;
  height: 350px;
  border-radius: 12px;
 padding: 2%;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-padding: 30px;


}
.box .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  min-width: 300px;
  border: transparent;
  background-color: transparent;
  border-radius: 20px;

  scroll-snap-align: start;

}

.image img {
  height: 100%;
  object-fit: cover;
  width:300px;
  border-radius: 12px;
  filter: brightness(80%);
  transition: 0.3s;
}
.card :hover{
  filter: brightness(100%);
  transition: 0.3s;
  border-radius: 12px;
  box-shadow: 0 5px #bb86fc;
}

.title{
  margin-left: 4%;
}


.mobileview{
	display: none;
}

.offcanvas{
  background-color: #bb86fc;
}

.offcanvas p{
  color: #212121;
}

.bi-list{
  font-size: 2.5rem;
  color: #bb86fc;
  
}
.autoComplete_wrapper{
  display: none;
}
.autoComplete_wrapper input{
	caret-color: #BB86FC;
}

.bi-bookmark-heart-fill{
  font-size: smaller;
}

@media (min-width:0px) and (max-width:800px) {
	
  .greet{
    padding: 0px;
    padding-left: 5%;
  }
  .m{
    font-size: 2rem;
  }
  .greet p{
    font-size: 1rem;
  }
  .logo{
    display: none !important;
  }
 
  .mobileview{
    display: block;
  }

  .form-control{
    background-color: #BB86FC;
    color: #212121;
  }
  
.autoComplete_wrapper{
  display: flex;
  justify-content: center;
  height: 100px;
}
.autoComplete_wrapper input{
  width: 80% !important;
}

  .carousel-item img{
    width: 100%;
    height: 200px; 
    filter: brightness(70%);
    object-fit: cover;
   }
 

.box{
  height: 250px !important;
  gap: 10px;
  padding: 1% ;
}

 .box .card{
  min-width: 230px !important;
 }

   .image img{
    width: 220px !important;
   }

   .card :hover{
    filter: brightness(100%);
    transition: 0.3s;
    border-radius: 12px;
    box-shadow: 0 5px #bb86fc;
  }

  .brand-name{
    color: #212121 !important;
  }

  .smile{
    color: #BB86FC;
  }
 

 }