
	<div class="greet  d-flex align-items-center justify-content-between " >
		<span>
			<h1 class="h1 fw-bold m wish">{{wish}}</h1>
		<p class="ms-3 h4">Hello There !!</p>
		</span>
		<a href="https:santhosh-technologies.netlify.app" class="d-flex align-items-center logo justify-content-center gap-2 flex-row-reverse">
			<img src="/assets/img/logo/music-logo-dark.svg" height="70" width="70" class="img-fluid" alt="">
			<h1 class="display-5 fw-medium brand-name">Eesai</h1>
		</a>
		
		<section class=" align-items-center py-3 justify-content-around mobileview" >
			<button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="bi bi-list fa-2x"></i></button>
		
			<div class="offcanvas offcanvas-end" style="width: 70%;" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel"  >
			  <div class="offcanvas-header justify-content-between" >
				<span class="d-flex align-items-center justify-content-center">
					<img src="/assets/img/logo/music-logo-dark.svg" height="100" width="100" class="img-fluid" alt="">
			        <h1 class="display-1 fw-medium brand-name">Eesai</h1>
				</span>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas">
				</button>
			  </div>
			  <div class="offcanvas-body d-flex flex-column align-items-start justify-content-start gap-3" >

				
			  <a routerLink="/home" data-bs-dismiss="offcanvas" ><div class="btn w-70  rounded-1  px-2 d-flex align-items-center justify-content-start" >
				
				<p  class="fs-3 ms-2">HOME</p>
			  </div></a>
			<a routerLink="/allsongs" data-bs-dismiss="offcanvas">  <div class="btn w-70 rounded-1 px-2 d-flex align-items-center justify-content-start" >
				<p  class="fs-3 ms-2" >ALL SONGS</p>
			</div></a>
			  <a routerLink="/about" data-bs-dismiss="offcanvas"><div class="btn w-70 rounded-1 px-2 d-flex align-items-center justify-content-start" >
				
				<p  class="fs-2 ms-2" >ABOUT</p>
			  </div></a>
			
			 
			</div>
			</div>
		  </section>
	</div>
	
	
	
	<div id="mycarousel" class="carousel slide" data-bs-ride="carousel" >
	<div class="carousel-indicators">
		<button class="btn " data-bs-target="#mycarousel" data-bs-slide-to="0"></button>
		
		<button class="btn active" data-bs-target="#mycarousel" data-bs-slide-to="1"></button>
		
		<button class="btn" data-bs-target="#mycarousel" data-bs-slide-to="2"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item ">
			<img src="/assets/img/banner1.png" alt="first" class="img-fluid">
			
		</div>
		<div class="carousel-item active">
			<img src="/assets/img/Eesai.png" alt="second" class="img-fluid">
			
		</div>
		<div class="carousel-item">
			<img src="/assets/img/banner3.png" alt="third" class="img-fluid">
			
		</div>
		<button class="carousel-control-prev" data-bs-target="#mycarousel"
		data-bs-slide="prev">
		<span class="carousel-control-prev-icon"></span>
		</button>
		<button class="carousel-control-next" data-bs-target="#mycarousel"
		data-bs-slide="next">
		<span class="carousel-control-next-icon"></span>
		</button>
	</div>
	</div>
	<div class="ui-widget autoComplete_wrapper mt-3 ">
     
		<input id="tag" dir="ltr" class="form-control" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" placeholder="Search for songs...">
		</div>
	
	<h1 class="h1 title mt-4">New Releases :)</h1>
	
	<section class="box">
		
			<div routerLink="/song/0" class="card active">
				<div class="image">
				  <img src="/assets/img/chilachila.jpg" alt="" />
				</div>
			</div>
		
		
		<div class="card" routerLink="/song/1">
		  <div class="image">
			<img src="/assets/img/theethalapathy.jpg" alt="" />
		  </div>
		  
		</div>
		<div class="card" routerLink="/song/2">
		  <div class="image">
			<img src="/assets/img/vaavathi.jpg" alt="" />
		  </div>
		 
		</div>
		<div class="card" routerLink="/song/3">
		  <div class="image">
			<img src="/assets/img/porkondasingam.jpg" alt="" />
		  </div>
	
		</div>
		<div class="card" routerLink="/song/4">
			<div class="image">
			  <img src="/assets/img/dada.jpg" alt="" />
			</div>
	  
		  </div>
		
	 
	</section>
	  <h1 class="h1 title mt-2">Popular Hits :)</h1>
	  <section class="box">
		<div class="card"  routerLink="/song/5">
		  <div class="image">
			<img src="/assets/img/ennaivitu.jpg" alt="" />
		  </div>
		
		</div>
		<div class="card" routerLink="/song/6">
		  <div class="image">
			<img src="/assets/img/vaathicoming.jpg" alt="" />
		  </div>
		  
		</div>
		<div class="card" routerLink="/song/7">
		  <div class="image">
			<img src="/assets/img/ranjithame.jpg" alt="" />
		  </div>
		 
		</div>
		<div class="card" routerLink="/song/8">
		  <div class="image">
			<img src="/assets/img/baby.jpg" alt="" />
		  </div>
	
		</div>
		<div class="card" routerLink="/song/9">
			<div class="image">
			  <img src="/assets/img/darshana.jpg" alt="" />
			</div>
	  
		  </div>
		  <div class="card" routerLink="/song/10">
			<div class="image">
			  <img src="/assets/img/mehabooba.jpg" alt="" />
			</div>
	  
		  </div>
	  </section>
	
	  
	<h1 class="h1 title mt-4">Tamil Hits</h1>
	
	<section class="box">
		<div class="card"  routerLink="/song/3">
		  <div class="image">
			<img src="/assets/img/porkondasingam.jpg" alt="" />
		  </div>
		
		</div>
		<div class="card" routerLink="/song/0">
		  <div class="image">
			<img src="/assets/img/chilachila.jpg" alt="" />
		  </div>
		  
		</div>
		<div class="card" routerLink="/song/6">
		  <div class="image">
			<img src="/assets/img/vaathicoming.jpg" alt="" />
		  </div>
		 
		</div>
		<div class="card" routerLink="/song/5">
		  <div class="image">
			<img src="/assets/img/ennaivitu.jpg" alt="" />
		  </div>
	
		</div>
		<div class="card" routerLink="/song/7">
			<div class="image">
			  <img src="/assets/img/ranjithame.jpg" alt="" />
			</div>
	  
		  </div>
		
	 
	</section>
	
	
	<h1 class="h1 title mt-4">Malayalam Hits</h1>
	
	<section class="box">
		<div class="card " routerLink="/song/9">
		  <div class="image">
			<img src="/assets/img/darshana.jpg" alt="" />
		  </div>
		
		</div>
		<div class="card" routerLink="/song/11">
		  <div class="image">
			<img src="/assets/img/malare.jpg" alt="" />
		  </div>
		  
		</div>
		<div class="card" routerLink="/song/12">
		  <div class="image">
			<img src="/assets/img/kudukku.jpg" alt="" />
		  </div>
		 
		</div>
		<div class="card" routerLink="/song/13">
		  <div class="image">
			<img src="/assets/img/vaathilmelle.jpg" alt="" />
		  </div>
	
		</div>
		<div class="card" routerLink="/song/14">
			<div class="image">
			  <img src="/assets/img/dooreyo.jpg" alt="" />
			</div>
	  
		  </div>
		
	 
	</section>
	
	
	<h1 class="h1 title mt-4">Telugu Hits</h1>
	
	<section class="box">
		<div class="card"  routerLink="/song/15">
		  <div class="image">
			<img src="/assets/img/needapadadhani.jpg" alt="" />
		  </div>
		
		</div>
		<div class="card" routerLink="/song/16">
		  <div class="image">
			<img src="/assets/img/samajavaragamana.jpg" alt="" />
		  </div>
		  
		</div>
		<div class="card" routerLink="/song/17">
		  <div class="image">
			<img src="/assets/img/ooantavaooooantava.jpg" alt="" />
		  </div>
		 
		</div>
		<div class="card" routerLink="/song/18">
		  <div class="image">
			<img src="/assets/img/pilapadesaave.jpg" alt="" />
		  </div>
	
		</div>
		<div class="card" routerLink="/song/19">
			<div class="image">
			  <img src="/assets/img/ohsitaheyrama.jpg" alt="" />
			</div>
	  
		  </div>
		
	 
	</section>
	
	
	<h1 class="h1 title mt-4">English Hits</h1>
	
	<section class="box">
		<div class="card"  routerLink="/song/20">
		  <div class="image">
			<img src="/assets/img/onmyway.jpg" alt="" />
		  </div>
		
		</div>
		<div class="card" routerLink="/song/21">
		  <div class="image">
			<img src="/assets/img/thunder.jpg" alt="" />
		  </div>
		  
		</div>
		<div class="card" routerLink="/song/22">
		  <div class="image">
			<img src="/assets/img/shapeofyou.jpg" alt="" />
		  </div>
		 
		</div>
		<div class="card" routerLink="/song/23">
		  <div class="image">
			<img src="/assets/img/heatwaves.jpg" alt="" />
		  </div>
	
		</div>
		<div class="card" routerLink="/song/24">
			<div class="image">
			  <img src="/assets/img/friends.jpg" alt="" />
			</div>
	  
		  </div>
		
	 
	</section>
	
